<form action="search" method="post">
    <label for="countryName">What country are you searching for?</label>
    <input id = "inputCountry" name= "inputCountry" type = "text">
    <button type = "submit">Search</button>
</form>