<form action="search" method="post">
    <label for="cityName">What city are you searching for?</label>
    <input id = "inputCity" name= "inputCity" type = "text">
    <button type = "submit">Search</button>
</form>